
<ion-view title="Home">
  <ion-content>
    <div class="row">
      <div class="col col-33">
        <div class="card">
          <div class="item item-text-wrap">
            <h2>
              Days:
            </h2>

          </div>
        </div>
      </div>
      <div class="col col-33">
        <div class="card">
          <div class="item item-text-wrap">
            <h2>
            Quota:
            </h2>
          </div>
        </div>
      </div>
      <div class="col col-33">
        <div class="card">
          <div class="item item-text-wrap">
            <h2>
            Per Day:
            </h2>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="progress progress-striped active">
        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
          <span class="sr-only">40% Complete (success)</span>
        </div>
      </div>
    </div>



  </ion-content>
</ion-view>



